.areas {
  padding: 10px;
}

.container-areas {
  display: grid;
  grid-template: 0.1fr 0.75fr 0.15fr/ 300px 1fr;
  gap: 10px 10px;
  height: 75vh;
  grid-template-areas: "header header"
                       "left content"
                       "footer footer";
}

.item-areas {
  background: floralwhite;
  padding: 10px;
  border: 2px solid black;
}

.header-areas {
  grid-area: header;
}

.left-areas {
  grid-area: left;
}

.content-areas {
  grid-area: content;
}

.footer-areas {
  grid-area: footer;
}
